<!DOCTYPE html>
<html>
    <head>
        <title>Nvision</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                <% if (locals.error){%>alert("<%= locals.error%>"); return;<%}%>
                var gameID = <%= locals.id %>+0;
                var ques = $("#question");
                var opt0 = $("#optionA");
                var opt1 = $("#optionB");
                var opt2 = $("#optionC");
                var opt3 = $("#optionD");
                ques.html("loading...");
                function getQuestion(answer) {
                    $.post('/play', {gameID: gameID, answer: answer}, function (data, status, xhr) {
                        if (status == "success") {
                            console.log(data);
                            if (data.score != undefined) alert(data.score);
                            ques.html(data.question);
                            opt0.html(data.options[0]);
                            opt1.html(data.options[1]);
                            opt2.html(data.options[2]);
                            opt3.html(data.options[3]);
                        }
                    });
                }
                opt0.click(function () {
                    getQuestion(0);
                });
                opt1.click(function () {
                    getQuestion(1);
                });
                opt2.click(function () {
                    getQuestion(2);
                });
                opt3.click(function () {
                    getQuestion(3);
                });
            });
        </script>
    </head>
    <body>
        <h1>Game</h1>
        <p id="question"></p>
        <ol type="A">
            <li id="optionA"></li>
            <li id="optionB"></li>
            <li id="optionC"></li>
            <li id="optionD"></li>
        </ol>
    </body>
</html>