<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Olympic IQ | &eta;vision</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Olympic Quiz">
        <meta name="author" content="Nvision 2016">
        <meta name="keyword" content="techno-management, technical, IIT Hyderabad, fest, competitions, events , quiz , game , olympic , olympics">
        <meta name="robots" content="index, follow">
        <meta property="og:site_name" content="&eta;vision">
        <meta property="og:title" content="Olympic IQ | &eta;vision 2016">
        <meta property="og:type" content="techno-management_fest:nvision">
        <meta property="og:image" content="https://olympics.nvision.org.in/images/logo.png">
        <meta property="og:url" content="https://olympics.nvision.org.in">
        <meta property="og:description" content="Olympic Quiz organised by &eta;vision 2016 IITH">
        <meta property="game:points" content="1000" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style>

            html, body {
                background-color: #0F142A;
                overflow-x: hidden;
                overflow-y: auto;
                height:100%;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            .container {
                position: relative;
            }

            .jumbotron {
                position: relative;
                background-color: white;
            }

            .option-btn {
                line-height: 40px;
                width: 100%;
                display:inline-block;
                font-family:Arial, "Helvetica", sans-serif;
                font-size:20px;
                font-weight:bold;
                color:#fff !important;
                text-decoration:none;
                text-align:left;
                text-shadow:1px 1px 0px #07526e;
                padding-top:6px;
                position:relative;
                cursor:pointer;
                border: none;
                background: #109bce;
                background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
                border-radius: 5px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
                margin: 0.5em;
            }

            .option-btn:hover{
                top:3px;
                box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
            }

            .skip-btn {

            }

        </style>
    </head>
    <body>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '309637142759274',
                    xfbml      : true,
                    version    : 'v2.7'
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <header>
        <button class="btn btn-primary" onclick="logout()" style="float:right;margin:1em;">Logout</button>
                <h1>
                <a href="https://nvision.org.in" target="_blank"><img src="/images/nvision.png" height="100"></a>
                &emsp;<b style="color:#fff">OLYMPIC IQ</b>&emsp;
                <a href="https://www.facebook.com/litsociith" target="_blank"><img src="/images/litsoc.png" height="100" ></a>
                </h1>
            </header>
                        <div class="col-md-12 game" style="display:none">
                            <button style="float:right;z-index:1000" class="skip-btn btn btn-warning" onclick="getQuestion(4)"><b>Skip</b>&emsp;<span class="glyphicon glyphicon-hand-right"></span></button>
                        </div>

        <div class="table">
            <div class="table-cell">
                <div id="main" class="container">
                    <div class="card">
                        <% if (locals.error) {%>
                        <p style="color:#fff;font-size:20px">You cannot play more than 5 times.</p>
                        <% } else {%>
                        <div style="color:#fff;font-size:20px">
                            Rules:<br>
                            1. You have 120 seconds to answer 8 questions <br>
                            2. Once clicked on 'skip', you cant go back to that question<br>
                            3. Refresh or Logout in the middle of the game will be considered as 'game over'
                        </div>

                        <button class="start-btn" onclick="startGame()">Start Quiz</button>
                        <% }%>
                    </div>
                    <svg class="svg-1" width="147px" height="148px" viewBox="0 0 147 148" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                                <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0.266666667   0 0 0 0 0.694117647   0 0 0 0 0.607843137  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
                            <g id="Artboard-1" transform="translate(-146.000000, -3.000000)" fill="#44B19B">
                                <g id="tr1" transform="translate(218.000000, 72.000000) scale(-1, -1) translate(-218.000000, -72.000000) translate(169.000000, 22.000000)">
                                    <path d="M45.1796875,76.9648438 L0.58984375,100 L20,0 L45.1796875,76.9648438 Z" id="Triangle-1" fill-opacity="0.423318614"></path>
                                    <path d="M97.1992188,79.2382812 L18.9960938,0 L40,62 L97.1992188,79.2382812 Z" id="Triangle-1"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg class="svg-2" width="150px" height="130px" viewBox="0 0 150 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                                <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0.729411765   0 0 0 0 0.247058824   0 0 0 0 0.341176471  0 0 0 0.543447124 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
                            <g id="Artboard-1" transform="translate(-124.000000, -151.000000)" fill="#BA3F57">
                                <g id="tr2" transform="translate(202.000000, 211.000000) scale(1, -1) translate(-202.000000, -211.000000) translate(151.000000, 171.000000)">
                                    <polygon id="Triangle-1" fill-opacity="0.831946332" points="23 0 44 62 0 62 "></polygon>
                                    <path d="M101.199219,79.2382812 L22.9960938,0 L44,62 L101.199219,79.2382812 Z" id="Triangle-1" fill-opacity="0.554376132"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg class="svg-3" width="154px" height="139px" viewBox="0 0 154 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                                <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0.568627451   0 0 0 0 0.631372549   0 0 0 0 0.968627451  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
                            <g id="Artboard-1" transform="translate(-3.000000, -50.000000)" fill="#91A1F7">
                                <g id="tr3" transform="translate(30.000000, 72.000000)">
                                    <polygon id="Triangle-1" points="22 20 44 82 0 82 "></polygon>
                                    <path d="M103,0 L21.4453125,19.0859375 L44,82 L103,0 Z" id="Triangle-1" fill-opacity="0.62720788"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div id="game" class="container" style="height: 100%; display: none;">
                        <p style="color:#fff">Time Left: <span id="timer"></span> seconds</p>
                    
                    <div class="row" style="height: 40%">
                        <div class="col-md-12 jumbotron">
                            <div id="qno"></div>
                            <p id="question" style="text-align:left"></p>
                        </div>
                    </div>
                    <div class="row" style="height: 60%;">
                        <div class="col-md-12">
                            <button class="option-btn" id="optionA"></button>
                        </div>
                        <div class="col-md-12">
                            <button class="option-btn" id="optionB"></button>
                        </div>
                        <div class="col-md-12">
                            <button class="option-btn" id="optionC"></button>
                        </div>
                        <div class="col-md-12">
                            <button class="option-btn" id="optionD"></button>
                        </div>
                    </div>
                </div>

                <div id="score" class="container" style="height: 100%;display:none">
                    <div class="row text-center" style="height: 100%; position: relative;">
                        <div class="col-md-12" style="height: 100%;">
                            <p>
                            <span  style="font-size: 4em;color:#fff;">You answered <span id="scorec"></span>/8 questions.</span><br>
                            <span  style="font-size: 2em;color:#fff;">Check out the <a href="https://www.facebook.com/Quiz-Club-IIT-Hyderabad-139658206244424/">Quiz Club, Literary Society, IITH</a> who made these questions.</span>
                            <br>
                            <br>
                            <button class="btn" id="sharebtn" style="color:#fff;background-color:#3b5998">Share on fb</button>
                            <br>
                            <a href="/play" style="font-size: 5em;color:#fff;">Play again</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="svg-3 svg-b" width="154px" height="139px" viewBox="0 0 154 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                    <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0.568627451   0 0 0 0 0.631372549   0 0 0 0 0.968627451  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
                <g id="Artboard-1" transform="translate(-3.000000, -50.000000)" fill="#91A1F7">
                    <g id="tr3" transform="translate(30.000000, 72.000000)">
                        <polygon id="Triangle-1" points="22 20 44 82 0 82 "></polygon>
                        <path d="M103,0 L21.4453125,19.0859375 L44,82 L103,0 Z" id="Triangle-1" fill-opacity="0.62720788"></path>
                    </g>
                </g>
            </g>
        </svg>
        <svg class="svg-2 svg-b" width="150px" height="130px" viewBox="0 0 150 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                    <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0.729411765   0 0 0 0 0.247058824   0 0 0 0 0.341176471  0 0 0 0.543447124 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                    <feMerge>
                        <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
                <g id="Artboard-1" transform="translate(-124.000000, -151.000000)" fill="#BA3F57">
                    <g id="tr2" transform="translate(202.000000, 211.000000) scale(1, -1) translate(-202.000000, -211.000000) translate(151.000000, 171.000000)">
                        <polygon id="Triangle-1" fill-opacity="0.831946332" points="23 0 44 62 0 62 "></polygon>
                        <path d="M101.199219,79.2382812 L22.9960938,0 L44,62 L101.199219,79.2382812 Z" id="Triangle-1" fill-opacity="0.554376132"></path>
                    </g>
                </g>
            </g>
        </svg>

        <script>
        var displayName = "<%=name%>";
        var fbQuote = displayName+" Olympic IQ score is 0/8";
            $("#sharebtn").click(function () {
                FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'https://olympics.nvision.org.in/',
                    hashtag: '#nvisionOlympicIQ',
                    quote: fbQuote
                }, function(response){

                });
            });
        </script>
        <script>
            <% if (locals.error){%>// alert("<%= locals.error%>");<%} else {%>
            var gameID = <%= locals.game.id %>+0;
            var ques = $("#question");
            var opt0 = $("#optionA");
            var opt1 = $("#optionB");
            var opt2 = $("#optionC");
            var opt3 = $("#optionD");
            var qno = 0;
            var time = 120;

            function logout() {
                window.open('/logout','_self');
            }

            function score(sc) {
                $("#game").hide();
                $(".game").hide();
                $("#score").show();
                $("#scorec").html(sc);
                fbQuote = displayName+"'s Olympic IQ score is "+sc+"/8"
            }
            function startGame() {
                $("#main").hide();
                $("#game").show();
                $(".game").show();
                var ti = window.setInterval(function () {
                    if (time > 0) {
                        time--;
                        $("#timer").html(time);
                    }
                    else {
                        getQuestion(5);
                        clearInterval(ti);
                    }
                }, 1000);
                getQuestion();
            }
            function getQuestion(answer) {
                $.post('/play', {gameID: gameID, answer: answer}, function (data, status, xhr) {
                    if (status == "success") {
                        console.log(data);
                        if (data.score != undefined) return score(data.score);
                        qno++;
                        ques.html("<b>"+qno+".</b> "+data.question);
                        opt0.html("<b>A.</b> "+data.options[0]);
                        opt1.html("<b>B.</b> "+data.options[1]);
                        opt2.html("<b>C.</b> "+data.options[2]);
                        opt3.html("<b>D.</b> "+data.options[3]);
                        if (data.options.length == 2) {
                            opt0.show();
                            opt1.show();
                            opt2.hide();
                            opt3.hide();
                        } else if (data.options.length == 3) {
                            opt0.show();
                            opt1.show();
                            opt2.show();
                            opt3.hide();
                        } else if (data.options.length == 4) {
                            opt0.show();
                            opt1.show();
                            opt2.show();
                            opt3.show();
                        }
                        time = 120-Math.round((Date.now()-data.time)/1000);
                    }
                });
            }
            opt0.click(function () {
                getQuestion(0);
            });
            opt1.click(function () {
                getQuestion(1);
            });
            opt2.click(function () {
                getQuestion(2);
            });
            opt3.click(function () {
                getQuestion(3);
            });
            <%}%>
        </script>
    </body>
</html>