<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Olympic IQ | &eta;vision</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Olympic Quiz">
		<meta name="author" content="Nvision 2016">
		<meta name="keyword" content="techno-management, technical, IIT Hyderabad, fest, competitions, events , quiz , game , olympic , olympics">
		<meta name="robots" content="index, follow">
		<meta property="og:site_name" content="&eta;vision">
		<meta property="og:title" content="Olympic IQ | &eta;vision 2016">
		<meta property="og:type" content="techno-management_fest:nvision">
		<meta property="og:image" content="https://olympics.nvision.org.in/imges/logo.png">
		<meta property="og:url" content="https://olympics.nvision.org.in/login">
		<meta property="og:description" content="Olympic Quiz organised by &eta;vision 2016 IITH">



		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing" style="padding:1em">

		<!-- Header -->
			<header id="header">
				<h1><a href="https://nvision.org.in"><img src="/images/nvision_b.png" height="70"></a></h1>
			</header>

			<header id="header2">
				<h1><a href="https://www.facebook.com/litsociith"><img src="/images/litsoc_b.png" height="100"></a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1 style="color:#000">OLYMPICS IQ</h1>
				<ul class="actions">
					<li>
						<a href="/auth/facebook" class="button big">Login with facebook</a>
					</li>
				</ul>
			</section>

	</body>
</html>